# Ignore Mac files
.DS_Store

# Assignment 1
Assignment 1/db_build.sql
Assignment 1/drop.sql
Assignment 1/example.sql
Assignment 1/IPL DB/
Assignment 1/Results/
Assignment 1/test.py
Assignment 1/Results.zip

# Assignment 2
Assignment 2/dataset2/
Assignment 2/dataset1/
Assignment 2/temp2.txt
Assignment 2/temp1.txt
Assignment 2/loader2.sql
Assignment 2/loader.sql
Assignment 2/db_build.sql
Assignment 2/dataset2.zip
Assignment 2/Dataset1.zip
